
@import url('styles/header.css');
@import url('styles/reset.css');


:root{

    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --amarelo:#FECD2F;
    --roxo: #8a1aa8;
    --preto: #000000;
    --fonte-principal: "Poppins"
    --fonte-secundaria: "Josefin Sans"
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 400 ;
}