
@import url('style/header.css');
@import url('style/reset.css');


:root{

--cor-de-fundo: #EBECEE;
--branco: #FFFFFF;
--amarelo:#FECD2F;
--roxo: #8a1aa8;
--preto: #000000;
--fonte-principal: "Poppins"
--fonte-secundaria: "Josefin Sans"
}

body{
background-color: var(--cor-de-fundo);
font-family: var(--fonte-principal);
font-size: 16px;
font-weight: 400 ;
}